# Laravel
/vendor/
/node_modules/
.env
.env.*
.phpunit.result.cache
/storage/
/public/storage
/database/*.sqlite
/database/*.sqlite3
/database/database.sqlite*
# Vite/React
frontend/node_modules/
frontend/dist/
# OS
.DS_Store
Thumbs.db
# IDE
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
