@import "tailwindcss";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bg-cool-100 {
  @apply bg-gradient-to-l from-orange-600 via-gray-800 to-teal-600;
  animation: gradient 30s ease-in-out infinite;
  background-size: 200% 200%;
}

.bg-cool-200 {
  @apply bg-gradient-to-r from-orange-900 via-gray-800 to-teal-900;
  animation: gradient 30s ease-in-out infinite;
  background-size: 200% 200%;
}

.bg-cool-300 {
  @apply bg-gradient-to-b from-orange-100 via-gray-200 to-teal-100;
  animation: gradient 30s ease-in-out infinite;
  background-size: 125% 125%;
}

.comment-bg-100 {
  @apply bg-gradient-to-br from-orange-100 via-teal-100 to-orange-100;
  animation: gradient 5s ease infinite;
  background-size: 200% 200%;
}

.comment-bg-200 {
  @apply bg-gradient-to-l from-orange-800 to-teal-800;
  animation: gradient 15s ease infinite;
  background-size: 150% 150%;
}

.comment-bg-300 {
  @apply bg-gradient-to-l from-teal-50 via-orange-50 to-teal-50;
  animation: gradient 28s ease infinite;
  background-size: 125% 125%;
}

.comment-text {
  @apply sm:text-sm sm:text-shadow-sm text-shadow-md lg:text-lg text-gray-950 lg:text-shadow-lg text-shadow-gray-950/20;
}

.comment-text-special {
  @apply sm:text-sm font-bold italic sm:text-shadow-sm text-shadow-md md:text-2xl lg:text-lg text-gray-100 lg:text-shadow-lg text-shadow-gray-950/20;
}